

#datetime-picker {
    width: 272px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    box-sizing: border-box;
}

#datetime-picker:hover {
    border: 1px solid #000;
}

#datetime-picker:active {
    border: 1px solid #4E75FF;
}

#datetime-picker:disabled {
    background: #FAFAFA;
    border: 1px solid #808080;
    color: #808080;
}

.start-btn {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    color: #FFF;
    font-weight: 500;
    height: 40px;
    width: 75px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
}

.start-btn:hover {
    background: #6C8CFF;
}

.start-btn:disabled {
    background: #CFCFCF;
    color: #989898;
}

.timer {
    margin-top: 32px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1.6px;
}

.label {
    font-family: sans-serif;
    text-transform: uppercase;
}