.form {
    margin-top: 40px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form label {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.form label input {
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #808080;
    padding-left: 16px;
    box-sizing: border-box;
}

.form label input:hover {
    border: 1px solid #000;
}

.form fieldset {
    width: 360px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    padding-left: 48px;
    padding-top: 14px;
    padding-right: 48px;
    padding-bottom: 12px;
    display: inline-flex;
    align-items: flex-start;
    gap: 48px;
    box-sizing: border-box;
    margin: 0;
}

.form fieldset label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.form fieldset label input {
    width: 24px;
    height: 24px;
    margin: 0;
}

.form button {
    display: flex;
    width: 360px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    color: #FFF;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 0.64px;
}

.form button:hover {
    background: #6C8CFF;
}